/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
		/*sticky*/
	body {
    padding-top: 100px;
}

		/*header start*/
    .menu ul li a {
    padding: 2px 0px !important;
}
/* banner */
.b_item {
    margin: 50px 0 75px;
}
.b_h1 {
    font-size: 27px;
}
.b_h3 {    
    padding: 2px 0;
    font-size: 12px;
}
.b_p {
    padding-right: 0px;
    margin: -9px 0;
}
.b_btn {
    padding: 4px 8px !important;
}
/* service */
.s_p1 {
    padding: 0 25px;
    line-height: 20px;
}
.s_h2 {
    margin-top: 20px;
}
.s_p2 {
    margin-bottom: 20px;
}
/* 	about */
.a_content {
    padding: 10px 30px;
    text-align: center;
}
.a_img {
    margin-bottom: 40px;
}
.a_btn {
    padding: 10px 10px;
}
.a_h2 {
    font-size: 30px;
}
.a_h3 {
    font-size: 35px;
}
.a_p {
    padding: 0px 0;
}
.c_p {
    padding: 0px 0;
}
/* pricing */
.p_h2 {
    font-size: 32px;
    margin-top: 45px;
}
.p_h {
    font-size: 31px;
}

p {
    margin-top: -15px;
}
.p_price {
    margin: 65px 0 -30px;
    
}


/* gap */
.gap {
    margin-bottom: 40px;
}
.g_btn {
    margin: 0 auto;
    padding: 10px 10px;
}
.tesc_p1 {
    margin-top: 10px;
}
.tesc_h3 {
    margin: 8px 0;
}
/* testimonial */

/* form */
.c_form {
    margin-top: 35px;
}
.c_formh1 {
    top: -55px;
}
.cfin_1 input {
    width: 40%;
}
.c_form input {
    padding: 5px 9px;
}
.cfin_3 {
    padding: 15px 15px !IMPORTANT;
}
.form_btn {
    margin: 10px 0;
}
.form_btn {
    padding: 10px 10px;
}
/* footer */

.f_icon {
    margin-bottom: 30px;
}

.f_icon a i {
    font-size: 15px;
    padding: 10px 7px;
}


.fb_p {
	text-align: center;
}
.fb_link {
	margin-bottom: 20px;
    text-align: center;
}
.fb_link ul li a {
    margin: 0 10px;
}
.fb_p p {
    font-size: 16px;
    padding: 0 24px;
}
.footer_bottom {
    padding: 40px 0;
}



	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*sticky*/
	body {
    padding-top: 110px;
}

	/*header start*/
    .menu ul li a {
    padding: 2px 0px !important;
}
/* banner */
.b_h1 {
    font-size: 30px;
}
.b_h3 {
    font-size: 14px;
}
.b_p {
    padding: 0px 121px;
}
.b_item {
    margin: 50px 0 75px;
}
/* about */
.a_img {
    padding: 0 0px;
}
.a_content {
    padding: 0px 30px;
    text-align: center;
}
.a_p {
    padding: 10px ;
}
/*pricing */
.p_price {
    margin: 20px 0 0px;
    padding: 30px 25px
}

.p_h3 {
    font-size: 20px;
}
p {
    margin-top: -12px;
}
}






/* footer */
.fb_p {
	text-align: center;
}
.fb_link {
	margin-bottom: 20px;
    text-align: center;
}
.fb_link ul li a {
    margin: 0 14px;
}
.footer_bottom {
    padding: 40px 0;
}



}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*sticky*/
	body {
    padding-top: 60px;
}

	/*header start*/
	.menu ul li a {
    padding: 4px 0px !important;
}
/* banner */
.b_item {
    margin: 180px 0 100px;
}
.b_h1 {
    font-size: 50px;
}
.b_h3 {
    padding: 5px 0;
    font-size: 25px;
}
.b_p {
    padding: 8px 55px;
}
.common_btn {
    margin-top: 0px;
}
/* about */
.a_content {
    text-align: center;
}
.a_p {
    padding: 10px 102px;
}


/*pricing */
.p_price {
    margin: 35px 0 0px;
}
.p_h3 {
    font-size: 20px;
}
p {
    margin-top: -12px;
}

/* footer */
.ff_p {
    margin: 33px 100px;
}





.fb_p {
	text-align: center;
}
.fb_link {
	margin-bottom: 20px;
    text-align: center;
}
.fb_link ul li a {
    margin: 0 14px;
}
.footer_bottom {
    padding: 40px 0;
}





}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*sticky*/
	body {
    padding-top: 50px;
}

/* banner */
.b_item {
    margin: 180px 0 100px;
}
.b_h1 {
    font-size: 50px;
}
.b_h3 {
    padding: 5px 0;
    font-size: 25px;
}
.b_p {
    padding: 8px 55px;
}
.common_btn {
    margin-top: 0px;
}
/* about */
.a_content {
    padding: 0px 30px;
}
.a_p {
    padding: 0 0;
}

/* pricing */
.p_h2 {
    font-size: 35px;
}
.p_h3 {
    font-size: 24px;
}
.p_h {
    font-size: 35px;
}


/*course start*/

.b_h1 {
    font-size: 50px;
}
.f_icon {
    margin-bottom: 55px;
}
.f_icon a i {
    margin: 4px;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /*about */
.a_content {
    padding: 45px 30px;
}
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {

} 